{% load static %}
<!-- Page header with logo and tagline-->
<header class="bg-light border-bottom mb-4">
  <!-- Background image -->
  <div
    class="pt-5 text-center bg-image"
    style="background-image: url({% static "assets/img/background_image.avif" %});height: 220px;">
    <div class="mask animate__animated animate__slideInDown" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 mt-2">Hello</h1>
          <h4 class="mb-3">Welcome to my personal blog</h4>
        </div>
      </div>
    </div>
  </div>
</header>
