{% extends "base.html" %}
{% load thumbnail %}


{% block content %}
<div class="container">
  <div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
      <!-- Nested row for non-featured blog posts-->
      {% for post in page_obj %}
      <div class="row">
        <div class="col-md-auto">
          <!-- Blog post-->
          <div class="card mb-4">
            {% if post.image %}
              {% thumbnail post.image "700x350" crop="center" as im %}
                <a href="#"><img class="card-img-top" src="{{ im.url }}" alt="Post {{ post.title }}"></a>
              {% endthumbnail %}
            {% else %}
              <a href="#"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
            {% endif %}
            <div class="card-body">
              <div class="small text-muted">{{ post.created_at }}</div>
              <h2 class="card-title h4">{{ post.title }}</h2>
              <p class="card-text">{{ post.content|truncatewords:30 }}</p>
              <a class="btn btn-primary" href="#">Read more →</a>
              {% if post.num_comments %}
                <div class="small text-muted float-end">
                  This post has {{ post.num_comments }} {{ post.num_comments|pluralize:"comment,comments" }}
                </div>
              {% else %}
                <div class="small text-muted float-end">
                  This post has no comments yet
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- Pagination-->
      {% include "includes/pagination.html" %}
  </div>
  <!-- Side widgets-->
  <div class="col-lg-4">
    <!-- Search widget-->
    {% include "includes/search_widget.html" %}
    <!-- Categories widget-->
    {% include "includes/categories_widget.html" %}
  </div>
  </div>
</div>
{% endblock %}
